.entry {
	display: flex;

	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	height: 120px;
	width: 100%;

}

.entry .left img {
	width: 100px;
	height: 100px;
}

.entry .middle {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.entry .middle .title {
	font-weight: bold;
}
