
.entry-detail {
	display: flex;
	flex-direction: column;

	width: calc(90% - 20px);
	height: auto;
	margin: 20px auto;
	padding: 10px;
	background: rgba(0,0,0,.05);
	border-radius: 4px;
	overflow-x: hidden;
}

	.entry-detail .img {
		height: 120px;
		width: 120px;
		background-size: cover;
		background-position: center;

	}

	.entry-detail .top {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 10px 0;
	}

	.entry-detail .date {
		text-align: center;
	}

	.entry-detail .top .title {
		width: calc(100% - 80px);
		text-align: center;
		font-weight: bold;
		font-size: 1.2rem;
	}

	.entry-detail .sources {
		display: flex;
		margin-top: 10px;
		display: flex;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
	}

	.entry-detail .source {
		text-decoration: none;
		/*border: 4px solid steelblue;*/
		border-radius: 6px;
		padding: 6px 8px;
		color: steelblue;
		font-weight: bold;
		transition: all .3s ease-in;
		margin-right: 10px;
	}

	.entry-detail .source:hover {
		color: white;
		background-color: steelblue;
	}

	.entry-detail .body {
		margin: 30px;
	}

.comments {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
}

	.comments .comment-create textarea {
		width: 400px;
		height: 150px;
	}

	.create .comment-create {
		display: flex;
		align-items: center;
	}

	.create .comment-create .save {
		margin-left: 15px;
	}