.timeline .heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
}

.timeline .entries {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.timeline .entry-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: calc(80px + 0.8rem);
	width: 100%;
}

.entry-wrapper .date {
	font-size: .8rem;
	text-align: left;
	padding: 5px 0;
	padding-left: 55px;
	margin-left: 35px;
	width: calc(100% - 96px);
	display: block;
	border-left: 6px solid tomato;
	line-height: 0;
}

	.entry-wrapper:first-child .date {
		padding-left: 61px;
		border-left: none;
	}

@media (min-width: 600px)
{
	.timeline .entry-wrapper {
		width: 90%;
	}

	.timeline .entry-wrapper {
		flex-direction: row;
		align-items: center;
		height: 80px;
	}

	.entry-wrapper .date {
		font-size: .8rem;
		text-align: right;
		width: 80px;
		min-width: 80px;
		padding: 0!important;
		margin: 0;
		margin-right: 15px;
		display: block;
		border-left: none;
	}
}


.entry-wrapper .v-line {
	height: 100%;
	border-left: 6px solid tomato;
	margin-left: 35px;
}

	.entry-wrapper .v-line.outlier {
		border-style: none none none dashed;
	}

.entry-wrapper .line {
	flex-grow: 5;
	width: 20%;
	height: 1px;
	border-bottom: 3px solid gray;
}

.timeline .heading .title {
	font-size: 2.2rem;
}

.timeline .heading .user {
	margin-top: 5px;
}
