
.create-timeline .content {
	width: 75%;
	margin: auto;
}

.create-timeline .topper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	margin: 20px 0;
	font-size: 1.1rem;

}
.create-timeline #timeline_title {
	font-size: 1.1rem;
	transition: all .3s ease-in-out;
	margin: 20px 0;
}

.create-timeline .under-title {
	display: flex;
}

.create-timeline .explainer {
	margin: 20px 0;
}

.create-timeline .entry-wrap {
	display: flex;
	justify-content: center;
}

	.create-timeline .entry-wrap .owner-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.create-timeline .entry-wrap .owner-wrap>div {
		cursor: pointer;
		padding: 5px;
		text-align: center;
		text-decoration: underline;
	}

	.create-timeline .entry-wrap .owner-wrap>div:hover {
		color: tomato;
	}