
.create-timeline .content {
	width: 75%;
	margin: auto;
}

.create-timeline #timeline_title {
	font-size: 1.2rem;
	margin: 20px 0;
	transition: all .3s ease-in-out;
}

.create-timeline .explainer {
	padding: 20px;
}

.create.entry {
	padding: 10px 20px;
	height: 400px;

	border: 1px solid slategrey;
}

.create.entry .middle {
	width: 75%;
}

.create.entry textarea {
	height: 200px;
	margin: 10px;
}

.create.entry .modal>div {
	width: 75%;
	display: flex;
}

.create.entry .modal input {
	width: 100%;
}

.react-datepicker__time-list {
	padding-left: 0;
}